.post {
    background: white;
    max-width: 500px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-bottom: 35px;
}


.post__img {
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.post__header {
    display: flex;
    align-items: center;
    padding: 15px;
}

.post__avater {
    margin-right: 10px;
}

.post__text {
    font-weight: normal;
    padding: 15px
}